@import url('reset.css');
@import url('variables.css');
@import url('typography.css');

.debug{
    border: 1px solid red;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav > a {
    padding: var(--margin-s);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}
.module-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem var(--margin-m);
    flex-wrap: wrap;
}

.module-header > small {
    flex-grow: 0;
}

.frame {
    border: 2px solid lightgray;
    border-radius: 0.25rem;
}

.comments {
    padding: 1rem;
}

.content-area {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-m);
}


/* Figure */

.figure {
    flex-grow: 1;
    min-width: 400px;
}

.figure-header {
    padding: var(--margin-m);
    gap: var(--margin-s);
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.fig-head-top {
    justify-content: space-between;
    display: flex;
}

.fig-head-bottom {
    display: flex;
    justify-content: center;
}

.plot{
    padding: var(--margin-m);
    height: 400px;
}